<a href="https://colab.research.google.com/github/AmeyaG-gif/Bsc-Python-/blob/main/Python2_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Continue after Python1.Colab**

In [ ]:
# Create a List (Notice the square brackets)
coordinates = [10, 20, 30]

# Try to change the first number
coordinates[0] = 99

# Print it
print(coordinates)

[99, 20, 30]

**Functions**

In [ ]:
# Define the function
def wish():
    print("Good Evening Ameya")

# Call the function
wish()

Good Evening Ameya

In [ ]:
def wish(name):          # 'name' is a variable waiting for data
    print("Hello", name) # It uses whatever data you give it

wish("Ameya")  # Prints: Hello Ameya
wish("Himanhsu")  # Prints: Hello Himanshu

Hello Ameya
Hello Himanhsu

In [ ]:
# Define the function with a parameter
def check_user(username):
    print(f"Welcome back, {username}")

# Call the function with different names
check_user("Ameya")
check_user("Admin")

Welcome back, Ameya
Welcome back, Admin

In [ ]:
def addition(a, b):          # Expects 2 numbers
    print("Total =", a + b)  # Adds them

addition(10, 20)             # Output: Total = 30

Total = 30

In [ ]:
# Define the function with two parameters
def calculate_bill(price, tax):
    total = price + tax
    print(f"The final bill is: {total}")

# Get price and tax from user input
user_price = int(input("Enter the price: "))
user_tax = int(input("Enter the tax: "))

# Call the function with user-provided values
calculate_bill(user_price, user_tax)

Enter the price: 1800
Enter the tax: 20
The final bill is: 1820

In [ ]:
def balance():
    return 100   # Gives 100 back to whoever called it

b = balance()    # Captures the 100 into variable 'b'
print(b)         # Prints 100

100

In [ ]:
# Define the function that returns the total instead of printing
def calculate_bill(price, tax):
    total = price + tax
    return total

# Get price and tax from user input
user_price = int(input("Enter the price for the returned bill: "))
user_tax = int(input("Enter the tax for the returned bill: "))

# Call the function and save the result
final_amount = calculate_bill(user_price, user_tax)

# Print the returned amount
print(f"The returned amount is: {final_amount}")

Enter the price for the returned bill: 1300
Enter the tax for the returned bill: 30
The returned amount is: 1330

In [ ]:
def get_numbers():
    return 10, 20, 30   # Returns 3 things at once!

x, y, z = get_numbers()
print(x)  # 10
print(y)  # 20
print(z)  # 30

result = get_numbers()
print(result)  # Output: (10, 20, 30)

10
20
30
(10, 20, 30)

In [ ]:
# Define the function
def calculator(a, b):
    add = a + b
    sub = a - b
    mul = a * b
    div = a / b
    return add, sub, mul, div  # Return all four values at once

# Call the function and catch the results in 4 variables
w, x, y, z = calculator(10, 5)

# Print them separately
print("Addition:", w)
print("Subtraction:", x)
print("Multiplication:", y)
print("Division:", z)

Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0

In [ ]:
# Define the function
def exam_result(marks1, marks2, marks3):
    total = marks1 + marks2 + marks3
    average = total / 3
    return total, average  # Return both total and average

# Call the function and capture the results
total_marks, average_marks = exam_result(80, 90, 75)

# Print the results
print(f"Total Marks: {total_marks}")
print(f"Average: {average_marks}")

Total Marks: 245
Average: 81.66666666666667

In [ ]:
def add(a, b): # 'a' and 'b' are FORMAL arguments
    c = a + b
    print(c)

add(10, 15)    # 10 and 15 are ACTUAL arguments

25

In [ ]:
def sub(x, y):
    print(x - y)

sub(20, 10)  # x gets 20, y gets 10. Output: 10 [cite: 933, 936, 938]

10

In [ ]:
def cart(product, price):
    print("Product is:", product)
    print("Cost is:", price)

# Both of these work perfectly!
cart(product="bangles", price=20000)
cart(price=1200, product="shirt")    # Order reversed, but still works!

Product is: bangles
Cost is: 20000
Product is: shirt
Cost is: 1200

In [ ]:
def create_id(student_name, course):
    print(f"{student_name} is studying {course}")

# First Call – Positional Arguments
create_id("Ameya", "Data Science")

# Second Call – Keyword Arguments (Reverse Order)
create_id(course="NIOS 12th", student_name="Ameya")

Ameya is studying Data Science
Ameya is studying NIOS 12th

In [ ]:
def cart(product, price=40.0):    # price has a default of 40.0
    print("Product is:", product)
    print("Cost is:", price)

cart(product="pen")               # We didn't pass price, so it uses 40.0
cart(product="handbag", price=10000) # We passed price, so it overrides and uses 10000

Product is: pen
Cost is: 40.0
Product is: handbag
Cost is: 10000

In [ ]:
def order_pizza(size, crust_type="Regular"):
    print(f"Ordering a {size} pizza with {crust_type} crust.")

# First Call – Only size (default crust will be used)
order_pizza("Large")

# Second Call – Size + Custom crust
order_pizza("Medium", "Cheese Burst")

Ordering a Large pizza with Regular crust.
Ordering a Medium pizza with Cheese Burst crust.

In [ ]:
def m(*x):         # The star tells Python: "Accept ANY number of arguments!"
    print(x)

m(10)              # Output: (10,)
m(10, 20)          # Output: (10, 20)
m(10, 20, 30)      # Output: (10, 20, 30)

(10,)
(10, 20)
(10, 20, 30)

In [ ]:
def add_all(*numbers):
    total = 0

    for num in numbers:
        total += num

    return total


# Call 1: 3 numbers
result1 = add_all(10, 20, 30)
print("Total 1:", result1)

# Call 2: 5 numbers
result2 = add_all(1, 2, 3, 4, 5)
print("Total 2:", result2)

Total 1: 60
Total 2: 15

In [ ]:
# Creating a lambda function
multiply = lambda x, y: x * y

# Calling the lambda function
result = multiply(5, 4)

# Printing the result
print("Result:", result)

Result: 20

In [ ]:
without_gst_cost = [100, 200, 300, 400] # [cite: 1180]
# map will apply the lambda (x + 10) to 100, then to 200, then 300...
with_gst_cost = map(lambda x: x + 10, without_gst_cost) # [cite: 1181]

print(list(with_gst_cost)) # Output: [110, 210, 310, 410]

[110, 210, 310, 410]

In [ ]:
nums = [1, 2, 3, 4, 5]

# Using map() + lambda to double each number
doubled_nums = map(lambda x: x * 2, nums)

# Printing the final result
print(list(doubled_nums))

[2, 4, 6, 8, 10]

In [ ]:
items_cost = [999, 888, 1100, 1200, 1300, 777] # [cite: 1197]
gt_thousand = filter(lambda x: x > 1000, items_cost) # [cite: 1197]

print(list(gt_thousand)) # Output: [1100, 1200, 1300] [cite: 1198, 1199, 1200]

[1100, 1200, 1300]

In [ ]:
scores = [45, 88, 91, 50, 33, 60]

# Using filter() + lambda to extract only even numbers
even_scores = filter(lambda x: x % 2 == 0, scores)

# Printing the final result
print(list(even_scores))

[88, 50, 60]

In [ ]:
from functools import reduce # Import karna zaroori hai! [cite: 1212]

items_cost = [111, 222, 333, 444] #
# reduce will do: (((111 + 222) + 333) + 444)
total_cost = reduce(lambda x, y: x + y, items_cost) #

print(total_cost) # Output: 1110 [cite: 1213, 1215]

1110

In [ ]:
from functools import reduce

factors = [1, 2, 3, 4, 5]

# Using reduce() + lambda to multiply all numbers
product = reduce(lambda x, y: x * y, factors)

print(product)

120