<a href="https://colab.research.google.com/github/AmeyaG-gif/Bsc-Python-/blob/main/Python_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Basics Python Programming Codes**

In [ ]:
print("Hello World")

Hello World

In [ ]:
# Task 1: Student Profile (Correct Naming)
student_name = "Ameya"       # Lowercase + Underscore
student_age = 18             # Lowercase + Underscore
is_enrolled = True           # "is" prefix is common for Booleans

#Task 2: Fix the Bug
#OLD (Error): My Class = "Data Science"
# NEW (Fixed):

my_class = "Data Science"    # Removed space, made
print(my_class,student_name,student_age)

Data Science Ameya 18

In [ ]:
My_Class = "Data Science"
print(My_Class)

Data Science

In [ ]:
class Vault:
    vault_name = "Ameya's Bank"

    def __init__(self):
        # Top Secret
        self.__secret_code = 9999999

v = Vault()
print(v._Vault__secret_code)

9999999

In [ ]:
class SecretAgent:
    def __init__(self):
        self.name = "Bond"          # Public
        self._mission = "Skyfall"   # Protected (Convention)
        self.__code = 7           # Private (Mangled)

agent = SecretAgent()

# The "X-Ray" command: This prints a list of ALL variables inside 'agent'
print(dir(agent))

# Look closely at the output list!
# Can you spot '_SecretAgent__code' inside it?

['_SecretAgent__code', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_mission', 'name']

In [ ]:
# Two variables, same value
a = 10
b = 10

# A variable with a different value
c = 20

print("Address of a:", id(a))
print("Address of b:", id(b))
print("Address of c:", id(c))

# QUESTION: Are the addresses of 'a' and 'b' the SAME or DIFFERENT?
# (Hint: Python is smart. It saves memory by pointing both to the same object!)

Address of a: 11654664
Address of b: 11654664
Address of c: 11654984

In [ ]:
a = 10
b = 10
c = 20

# id() gives the Memory Address (The box number in RAM)
print("Address of a:", id(a))
print("Address of b:", id(b))

Address of a: 11654664
Address of b: 11654664

In [ ]:
# Lists are "Mutable" (Changeable)
list1 = [10]
list2 = [10]

print("Address of list1:", id(list1))
print("Address of list2:", id(list2))

# QUESTION: Are they the SAME or DIFFERENT now?

Address of list1: 139784751990528
Address of list2: 139784751905216

In [ ]:
variable_data = "Ameya"

print(variable_data)
print(type(variable_data))
print(len(variable_data))

Ameya
<class 'str'>
5

In [ ]:
name = "Ameya Gayakwad"
age = 20

print("Data Scientist",name,age)

Data Scientist Ameya Gayakwad 20

In [ ]:
a,b,c = 1,2,3

print(a,b,c)

a = b = c  = 1,2,3

print(a,b,c)

1 2 3
(1, 2, 3) (1, 2, 3) (1, 2, 3)

In [ ]:
sal = 1000000.00
sal = int(sal)

print(sal)

1000000.0

In [ ]:
# 1. Stick the tag 'sal' on 10000
sal = 200000
print("Shirt Number for 10000:", id(sal))

# 2. Move the tag 'sal' to 12000
sal = 12000
print("Shirt Number for 12000:", id(sal))

Shirt Number for 10000: 137667355721392
Shirt Number for 12000: 137667355721456

In [ ]:
a = b = c = 3

print("Address of a:", id(a))
print("Address of b:", id(b))
print("Address of c:", id(c))

# Are they different (3 shirts) or same (1 shirt with 3 tags)?

Address of a: 11654440
Address of b: 11654440
Address of c: 11654440

In [ ]:
# 1. Start as an Integer
var = 100
print("Value:", var, "| Type:", type(var))

# 2. Change to a String (Text)
var = "Ameya"
print("Value:", var, "| Type:", type(var))

# 3. Change to a Float (Decimal)
var = 99.9
print("Value:", var, "| Type:", type(var))

Value: 100 | Type: <class 'int'>
Value: Ameya | Type: <class 'str'>
Value: 99.9 | Type: <class 'float'>

In [ ]:
# 1. Correct Way (Balanced)
x, y, z = 10, 20, 30
print("Success:", x, y, z)

# 2. The Crash (Unbalanced)
# We have 3 variables, but only 2 values!
a, b, c = 1, 2, 3 # Fixed: Added a third value

Success: 10 20 30

In [ ]:
print("--- ROUND 1: The Boolean Math ---")
# Proving True is just 1
print(f"Is True == 1? {True == 1}")
print(f"Math: True + True + True = {True + True + True}")

print("\n--- ROUND 2: The Immutable String ---")
text = "Python"
# Try to change the first letter (This will CRASH if uncommented)
# text[0] = "J"
print("Strings cannot be changed directly! We must make a new one.")
new_text = "C" + text[1:]
print(f"Original: {text}, New: {new_text}")

print("\n--- ROUND 3: The Set Chaos ---")
# PDF Page 12 shows output is shuffled. Let's prove it.
my_set = {10, 20, 30, 40, 10, 10}
print(f"Input: 10, 20, 30, 40, 10, 10")
print(f"Output: {my_set} (Duplicates Gone!)")

--- ROUND 1: The Boolean Math ---
Is True == 1? True
Math: True + True + True = 3

--- ROUND 2: The Immutable String ---
Strings cannot be changed directly! We must make a new one.
Original: Python, New: Cython

--- ROUND 3: The Set Chaos ---
Input: 10, 20, 30, 40, 10, 10
Output: {40, 10, 20, 30} (Duplicates Gone!)

In [ ]:
import sys

# 1. Create a huge RANGE (0 to 1 million)
huge_range = range(1000000)
# Measure size in bytes
print(f"Size of Range object: {sys.getsizeof(huge_range)} bytes")

# 2. Create a huge LIST (0 to 1 million)
# This forces Python to actually create every number in memory
huge_list = list(range(1000000))
print(f"Size of List object:  {sys.getsizeof(huge_list)} bytes")

# QUESTION: Look at the difference in bytes!
# The Range should be tiny (like 48 bytes).
# The List should be huge (millions of bytes).

Size of Range object: 48 bytes
Size of List object:  8000056 bytes

In [ ]:
print("--- 1. The Floor Trap (Negatives) ---")
print(f"5 // 2  = {5 // 2}")
print(f"-5 // 2 = {-5 // 2} (Did you expect -2?)")

print("\n--- 2. The Lazy Logic (Short-Circuit) ---")
# Defined a function that screams if it runs
def crash():
    print("BOOM! I crashed!")
    return True

print("Test 1: False and crash()")
# Since first is False, Python should STOP. 'crash()' should NOT run.
result = False and crash()
print("Survived Test 1.")

print("\nTest 2: True or crash()")
# Since first is True, Python should STOP. 'crash()' should NOT run.
result = True or crash()
print("Survived Test 2.")

print("\n--- 3. The Return Value Secret ---")
# Does it print True/False or the Numbers?
print(f"10 or 20  -> {10 or 20}")
print(f"0 or 20   -> {0 or 20}")

--- 1. The Floor Trap (Negatives) ---
5 // 2  = 2
-5 // 2 = -3 (Did you expect -2?)

--- 2. The Lazy Logic (Short-Circuit) ---
Test 1: False and crash()
Survived Test 1.

Test 2: True or crash()
Survived Test 2.

--- 3. The Return Value Secret ---
10 or 20  -> 10
0 or 20   -> 20